@model IEnumerable<ASPProject.Models.Home.Order>
@using ASPProject.Helpers

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Orders/_Layout.cshtml";
}

<h2>Cart</h2>

<div class="container">

    <div class="table">
        <div class="table-header">
            <div class="header__item"><a id="date" class="filter__link">Date</a></div>
            <div class="header__item"><a id="userEmail" class="filter__link filter__link--number">User Email</a></div>
            <div class="header__item"><a id="state" class="filter__link filter__link--number">State</a></div>
            <div class="header__item"><a id="itemName" class="filter__link filter__link--number">Item Name</a></div>
            <div class="header__item"><a id="price" class="filter__link filter__link--number">Price</a></div>
        </div>
        @{
            int i = 0;
            double totalSum = 0;
        }
        @foreach (var item in Model)
        {
            if (!this.User.IsInRole("Admin") && this.User.Identity.Name != @Html.GetUserEmail(item.UserId))
            {
                <span>You aren't autorized as user of this cart</span>
                break;
            }

            <div class="table-content">

                <div class="@("table-row-" + (i % 2 == 0 ? "first" : "second"))">
                    <div class="table-data">@item.PutchaseDate</div>
                    <div class="table-data">@Html.GetUserEmail(item.UserId)</div>
                    <div class="table-data">IN_CART</div>
                    <div class="table-data">@Html.ShowItemName(item.ItemId)</div>
                    <div class="table-data">@Html.ShowItemPrice(item.ItemId)</div>
                </div>
                <div class="@("table-row-" + (i % 2 == 0 ? "first" : "second")) action-button"> @Html.ActionLink("Delete", "Delete", new { id = item.Id }) </div>
                <div class="@("table-row-" + (i++ % 2 == 0 ? "first" : "second")) action-button"> @Html.ActionLink("Item Details", "Details", "Items", new { id = item.ItemId }, "") </div>
            </div>
            totalSum += Convert.ToDouble(Html.ShowItemPrice(item.ItemId).ToString());

        }
        @if (totalSum > 0)
        {
            <div>
                Total: @totalSum
                @Html.ActionLink("Purchase", "Purchase", "Orders", new { userEmail = this.User.Identity.Name }, new { @class = "button" })
            </div>
        }
    </div>
</div>

        