@model IEnumerable<ASPProject.Models.Home.Item>
@using ASPProject.Helpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Items/_Layout.cshtml";
}

<div class="header">

    <div class="container">
        <div class="logo">
            <h1><a href="/Items/Index"><b>S<br>U<br>P<br>E<br>R</b>TexWorld<span>The Best Supermarket</span></a></h1>
        </div>
        <div class="head-t">
            <div class="info">
                <!--You are logined with mail @this.User.Identity.Name-->
            </div>
            <ul class="card">
                <li class="fa fa-heart">@Html.ActionLink("Cart", "Cart", "Orders", new { userEmail = this.User.Identity.Name }, "")</li>
                <li class="fa fa-heart">@Html.ActionLink("Login", "Login", "Login")</li>
                <li class="fa fa-heart">@Html.ActionLink("Register", "Create", "Users")</li>
                @if (this.User.IsInRole("Admin"))
                {
                    <li class="fa fa-heart">@Html.ActionLink("Orders", "Index", "Orders")</li>
                    <li class="fa fa-heart">@Html.ActionLink("Users", "Index", "Users")</li>
                }
            </ul>
        </div>
    </div>
</div>

@if (this.User.IsInRole("Admin"))
{
<div>
    <span class="button">
        @Html.ActionLink("Add New Item", "Create")
    </span>
    @using (Html.BeginForm("Index", "Items"))
    {
        <span class="align-right searchbar-border">
            <span class="searchbar searchbar-label">
                SEARCH:
            </span>
                <input value="@ViewBag.SearchString" id="searchString" name="searchString" class="searchbar-input" />
                <input width="0" class="search-button" id="submit" type="submit" value=">" />
            </span>
    }
</div>
}



<div class="grid-container">
    @foreach (var item in Model)
    {
        <div class="grid-item">
            <div class='col-md-3 m-wthree'>
                <div class='col-m'>
                    @Html.ShowItem(item)
                    <div class="item-actions">
                        <p class='button'>

                            @Html.ActionLink("Add To Cart", "ToCart", new { itemId = item.Id, userEmail = this.User.Identity.Name })
                        </p>
                        <p class='button'>
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        </p>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <p class=''>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </p>
                            <p class=''>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

